@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto';
  box-sizing: border-box;
}

/*--------------------------------------Header----------------------------------*/
header {
  z-index: 1;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header {
  height: 50px;
  display: flex;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 10px;
  align-items: baseline;
  justify-content: space-between;
}
.fa-solid {
  padding-right: 10px;
}
.li-1 {
  padding-right: 30px;
}
li,
a {
  color: black;
  list-style: none;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  transition: 0.2s ease;
}
a:hover {
  cursor: pointer;
  color: rgb(107, 186, 29);
}
ul {
  display: flex;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
span,
.fa-solid {
  color: rgb(107, 186, 29);
}
hr {
  background-color: black;
  color: black;
  margin: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
/*--------------------------------------Main--Content----------------------------------*/
.overflow {
  overflow: visible;
  display: flex;
  flex-direction: column;
}
.sec-heading {
  position: relative;
  top: 25px;
  right: 15px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart {
  position: relative;
  width: 100%;
  margin-left: 30px;
}
.heavy {
  height: 5px;
  background: black;
}
.right {
  position: relative;
  right: 70px;
  width: 110%;
}
.quantity {
  position: relative;
  top: 30px;
  left: 30px;
}
.shopping-cart {
  margin: 50px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.adding {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  border: none;
  font-weight: bold;
}
.btn {
  font-size: 1.5rem;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  border: none;
  transition: 0.2s ease color;
}
.btn:hover {
  color: white;
  background-color: rgb(107, 186, 29);
}
.discription {
  display: flex;
  line-height: 30px;
  flex-direction: column;
}
.add-remove {
  display: flex;
  justify-content: flex-start;
}

.discription {
  display: flex;
  width: 200px;
  height: 100px;
}

.total {
  width: 300px;
  display: flex;
  text-align: start;
  justify-content: space-between;
  color: black;
  line-height: 40px;
}
.main-section-2 {
  padding: 50px;
}
input {
  position: relative;
  top: -15px;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.btn-container {
  background-color: black;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  border-radius: 5px;
  color: white;
  transition: 0.2s ease all;
}
.btn-container:active,
.btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-container:hover {
  cursor: pointer;
  background-color: rgb(107, 186, 29);
}
.merch-total,
.shipping,
.order-total {
  color: black;
}
/*-------------------------------------------------Footer section--------------------------------*/

.footer-sect {
  color: rgba(0, 0, 0, 0.453);
  text-align: center;
}
